.top-bar {
  position: fixed;
  width: 100%;
  color: #07054e;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  z-index: 1;
}

.title {
  width: 17em;
  text-align: left;
  font-size: 1.43em;
  letter-spacing: 0;
  opacity: 1;
}

.btn {
  font-size: 1.43em;
  letter-spacing: 0;
  opacity: 1;
}

.right-items {
  float: right;
  margin: 0 0.7em;
}

.account-text {
  margin-left: 0.9em;
  font-size: 1.15em;
}
