.header {
  min-height: 100%;
  padding: 24px;
  background: #fff;
}

.welcome-container {
  margin-top: 22em;
  margin-left: 10em;
  opacity: 1;
  color: #07054e;
}

.welcome-title {
  font-size: 50px;
}

.welcome-text {
  font-size: 30px;
}

.img-grid {
  position: absolute;
  top: -453px;
  left: 801px;
  opacity: 1;
}
